:root {
  --primaryBackground: #faf6f2;
  --darkGrey: #212331;
  --dimGrey: #343c4b;
  --grey: #4e5268;
  --lightGrey: #95a1b7;
  --primaryLight: #ffc4c6;
  --primary: #ff5a5f;
  --primaryDarkest: #9c0106;
  --white: #fff;
}
